[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
django-environ = "*"
django-split-settings = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
django-silk = "*"
djangorestframework = "*"
drf-yasg = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
