{% load static %}<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Local Store</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>
    {% block extra_js %}
        <script src="{% static 'js/contact_us.js' %}"></script>
    {% endblock %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container-fluid">
    {% if messages %}
        <div class="row">
            <div class="col-sm-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                            {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Main page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {#                    <li class="nav-item active">#}
                    {#                        <a class="nav-link" href="{% url 'post_create' %}"> Create post <span#}
                    {#                                class="sr-only">(current)</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item active">#}
                    {#                        <a class="nav-link" href="{% url 'user_posts' %}"> My posts <span#}
                    {#                                class="sr-only">(current)</span></a>#}
                    {#                    </li>#}
                {% endif %}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="{% url 'users_list' %}">Users list</a>#}
                {#                </li>#}
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}

                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li>
                            <button type="button" class="btn btn-primary"
                                    data-url="{% url 'update_profile' %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-plus"></span>
                                Update profile
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary"
                                    data-url="{% url 'logout' %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-plus"></span>
                                Logout
                            </button>
                        </li>
                    {% else %}
                        <li>
                            <button type="button" class="btn btn-primary"
                                    data-url="{% url 'login' %}?next={{ request.path }}"><span
                                    class="glyphicon glyphicon-plus"></span>Login
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary"
                                    data-url="{% url 'register' %}?next={{ request.path }}"><span
                                    class="glyphicon glyphicon-plus"></span>Register
                            </button>
                        </li>
                        </ul>
                    {% endif %}

                <ul class="sidebar-nav">
                    <li>
                        <button type="button" class="btn btn-primary js-contact-ajax"
                                data-url="{% url 'contact-ajax' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            Contact Us Ajax
                        </button>
                    </li>
                </ul>

            {% endblock %}
        </div>
        <div class="col-sm-10 ">

            {% block content %}{% endblock %}
            {% block modal %}
                <div class="modal fade" id="contact-ajax">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block pagination %}
                {% if is_paginated %}
                    <nav aria-label="Page navigation container"></nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                    </nav>
                    </div>
                {% endif %}
            {% endblock %}

    </div>
</div>

</div>
</body>
</html>