{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for book in book_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ book.title }}</h2>
                            <p class="card-text text-muted h6">{{ book.author }}</p>
                            <p class="card-text">{{ book.summary }}</p>
{#                            <a href="{% url 'post_detail' book.id %}" class="btn btn-primary">Read More &rarr;</a>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
